# sudo cp telegrambot.service /lib/systemd/system/audio-notes-telegrambot.service 
# sudo systemctl daemon-reload
# sudo systemctl enable audio-notes-telegrambot.service
# sudo systemctl start audio-notes-telegrambot.service
#
[Unit]
Description=Audio Notes Telegram Bot Service
After=network.target

[Service]
Type=simple
StandardInput=tty-force

# replace by your path to env file
EnvironmentFile=/etc/telegrambot.env

# replace by your istallation path
ExecStart=/home/sashacmc/.local/bin/mmdiary-telegrambot

# replace by your User/Group
User=sashacmc
Group=sashacmc

# change log files if needs
StandardOutput=append:/var/log/user/audio-notes-telegrambot.log
StandardError=append:/var/log/user/audio-notes-telegrambot.log

[Install]
WantedBy=default.target 
